@import "tailwindcss";

:root {
  --background: #FCF5EB;
  --foreground: rgb(28, 30, 33);
  --dark-background: rgb(17, 27, 33);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-primary: #D34E4E;
  --color-secondary: #FFF8DE;
  --color-third: #DDC57A;
  --color-details: #CE7E5A;

  --color-chip-1: #9ECAD6; /* blue */
  --color-chip-2: #A7AAE1; /* lila */
  --color-chip-3: #D9E9CF; /* green */
  --color-chip-4: #D6A99D; /* peach */
  --color-chip-5: #FFA4A4; /* light red */
  --color-chip-6: #A7AAE1; /* olivia rodrigo */
  --color-chip-7: #F08787; /* coral */
  --color-chip-8: #98A1BC; /* street fog */

  --color-light-grey: #ffffff;
  --color-dark-grey: #b8b8b8;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
